* {
  font-family: "微軟正黑體", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.navLink {
  /* color: black; */
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
.navLink:hover {
  font-weight: 900;
}
.logo {
  height: 50px;
}
.logo img {
  height: 160%;
}

.link {
  display: none;
}

@media (min-width: 768px) {
  .link {
    display: flex;
  }
}
@media (max-width: 768px) {
  nav {
    align-items: center;
    justify-content: center;
  }
}
.banner {
  margin-top: 66px;
}

.open {
  display: block;
}
.timeLineHover {
  border: 1px solid;
  border-radius: 5px;
}